* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.row {
  max-width: 1240px;
  margin: 0 auto;
}

.video {
  position: relative;
  height: 720px;
  z-index: 1;
  padding-bottom: 56.25%;
}

.video__media {
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

.intro {
  max-height: 100vh;
  overflow: hidden;
  position: relative;

  background-size: cover;
}

.intro__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.intro__title {
  margin: 0;

  font-size: 45px;
  color: #fff;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.dream {
  width: 100%;
  height: 100%;
  max-width: 250px;
  max-height: 380px;
  position: absolute;
  right: 0;
  top: 220px;
  padding: 20px 10px 10px 10px;
  background-color: #86d3f4;
  text-align: center;
}

.dream__title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.dream__image {
  margin-bottom: 20px;
}

.dream__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 20px;
}

.dream__button > button {
  border: none;
  padding: 15px 65px;
  background: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #86d3f4;
}

input {
  font-size: 25px;
  padding: 10px;
  border: none;
  outline: none;
  color: black;
  font-weight: 900;
}
